<html>
  <head>
    {{>title}}
  </head>

  <div class = "main-content">
  {{>header}}

  <p>This site was create by Athen Chimenti. It uses data from mapbox and darksky.</p>
    <img class ="portrait" src="/images/1.jpg" />
    </div>
     {{>footer}}
  </body>
</html>